[submodule "bundle/Vundle.vim"]
	path = bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim
[submodule "plugin/coc.nvim"]
	path = plugin/coc.nvim
	url = https://github.com/neoclide/coc.nvim
